body{
    font-family: 'Montserrat', sans-serif;
}

/* hero section */
.hero{
    background-image:  url("../images/wordpress-transparent.png"),
    linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    background-repeat: no-repeat;
    background-size: 40%,100%;
    background-position: right top;
}
.hero .header .navbar{
    font-size: 13px;
    font-weight: 600;
}
.hero .header  button{  
    font-size: 11px; 
    font-weight: 600;
}
.btn-apply{
    background: #3789FF;
    border: #3789FF;
    color: white;
}
.btn-hire{
    color: #3789FF;
    border: 2px solid #3789FF;
}
.hero .content h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    color: #272D4E;
}
.hero .content p{
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #94A2B3;
}
.hero .content button{
    font-size: 12px;
    font-weight: 600;
}

/* features-section */
.features-header h3{
    font-weight: 600;
    font-size: 36px;
    color: #272D4E;
}
.features-header p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #94A2B3;
}
.features-content{
    min-height: 80vh;
}
.features-content h5{
    font-weight: 600;
    font-size: 24px;
    color: #272D4E;
}
.features-content p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #94A2B3;
}
.features-content a{
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    color: #299EF3;
}
.features-content .big-img{
    width: 95%;
}
.fulltime .small-img{
    width: 65%;
    top: 40%;
}
.part-time .facebook-img{
    width: 45%;
}
.part-time .paypal-img{
    width: 45%;
    right: 0;
}
.part-time .google-img{
    width: 45%;
    top:60%
}
.freelance .top-img{
    width: 50%;
}
.freelance .right-img{
    width: 55%;
    top: 37%;
    right: -50%;
}
.freelance .big-img{
    width: 90%;
}


/* blue */
.blue{
    background-image: url(../images/blue-bird-background.png), url(../images/blue-background.png);
    background-size: 20%, cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -20%;
    color: #FFFFFF;
    min-height: 128vh;
}
.blue img{
    width: 72%;
}
.blue p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
.blue h5{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}
.blue button{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    background-color: #FFBA49;
    color: #FFFFFF;
}
.blue-2-img{
    top: 5%;
    left: -5%;
}

/* testimonials */
.testimonials{
    background-image: url(../images/testimonials-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}
.testimonials h5{
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    color: #272D4E;
}
.testimonials img{
    width: 100%;
    display: block;
}
.testimonials p{
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #94A2B3;
    top: 20%;
    left: 18%;
    right: 18%;
}

/* people */
.people-content h3{
    font-weight: 500;
    font-size: 36px;
    color: #272D4E;
}
.people-content p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #94A2B3;
}
.people-content button{
    font-size: 11px;
    font-weight: 600;
}
.people img{
    z-index: -1;
}

/* footer */
footer{
    background-color: #3789FF;
    color: #FFFFFF;
    margin-top: -14%;
}
footer li{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
footer li:first-child{
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
}
footer .reserved{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
footer img{
    width: 40%;
}