:root {
  --primary: #3789ff;
  --warning: #ffba49;
  --text-default: #272d4e;
  --text-secondary: #94a2b3;
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-color: #272d4e;
}

html {
  height: 100%;
}

p {
  font-size: 1.125rem;
  color: var(--text-secondary);
}

a {
  font-size: 1.125rem;
  text-decoration: none;
}

h5 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 2.25rem;
}

ul,
li {
  list-style-type: none;
  padding-left: 0px;
}

.btn {
  --bs-btn-line-height: 1;
  --bs-btn-font-weight: 600;
  width: fit-content;
}

.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
}

.btn-warning {
  --bs-btn-color: white;
  --bs-btn-bg: var(--warning);
  --bs-btn-border-color: var(--warning);
}

.navbar-nav {
  --bs-navbar-color: var(--text-default);
  --bs-navbar-hover-color: var(--primary);
  --bs-navbar-active-color: var(--primary);
}

.container {
  max-width: 90%;
}

.bg-gradient-wrapper {
  background-image: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.bg-gradient-wrapper .container {
  background-image: url("../images/wordpress-transparent.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right top;
}

header .navbar-nav {
  gap: 30px;
}

header .navbar-nav a {
  font-weight: 600;
}

header .btn {
  padding: 14px 18px;
  min-width: 200px;
  text-transform: uppercase;
}

.hero h1 {
  font-weight: 700;
  font-size: 3rem;
}

.hero .btn {
  padding: 24px 40px;
}

.features .features-content {
  --bs-gutter-x: 70px;
  --bs-gutter-y: 70px;
}

.features .features-header {
  max-width: 70%;
}

.features .fulltime .img-payment {
  top: 20%;
}

.features .part-time .img-facebook {
  left: 10%;
}
.features .freelance .img-top {
  left: 20%;
}

.features .freelance .img-right {
  left: 80%;
}

.features .features-content a:hover {
  text-decoration: underline !important;
}

.features .fulltime,
.features .part-time,
.features .freelance {
  max-width: 430px;
}

.platform {
  background-image: url(../images/platform-bird-bg.png),
    url(../images/platform-blue-bg.png);
  background-size: auto, 100% 90%;
  background-repeat: no-repeat;
  background-position: top right, center;
}

.platform > div {
  background-image: url(../images/platform-pattern-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 10% 0px 5%;
}

.platform .btn {
  padding: 20px 80px;
}

.testimonials {
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
}

.testimonials > div {
  background-image: url(../images/testimonials-background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.testimonials img {
  margin: 30px 0 20px;
}

.testimonials .testimonials-content {
  padding: 60px 80px;
  font-size: 1.25rem;
  text-align: center;
  background-color: white;
  box-shadow: 0px 18px 52.85px 0px #d7e4f980;
  border-radius: 20px;
  background-image: url(../images/testimonials-icon.png);
  background-size: auto;
  background-position: center;
  background-position-y: 30px;
  background-repeat: no-repeat;
  position: relative;
}

.testimonials .testimonials-content::after,
.testimonials .testimonials-content::before {
  z-index: -1;
  position: absolute;
  content: "";
  box-shadow: 0px 18px 52.85px 0px #d7e4f980;
  border-radius: 20px;
  background-color: white;
  height: 100%;
}

.testimonials .testimonials-content::after {
  width: 90%;
  top: 25px;
  left: 5%;
}

.testimonials .testimonials-content::before {
  width: 80%;
  top: 45px;
  left: 10%;
}

.people .people-img {
  background-image: url(../images/people-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.people p {
  max-width: 700px;
}

footer img {
  max-height: 54px;
}

footer li:first-child {
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 10px;
}

footer li a {
  color: white;
}

footer li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (min-width: 992px) {
  .hero .hero-content {
    padding: 100px 0px !important;
  }

  .hero h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.45rem;
  }

  h5 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .hero h1 {
    font-size: 4.25rem;
  }

  h3 {
    font-size: 3.45rem;
  }

  h5 {
    font-size: 2.25rem;
  }

  .testimonials {
    padding-top: 200px;
  }

  .testimonials .testimonials-content {
    font-size: 1.625rem;
  }

  .hero .hero-content {
    padding: 100px 0px !important;
  }

  .features .features-content > div:nth-child(2) {
    padding-top: 70px;
  }

  .features .features-content > div:nth-child(3) {
    padding-top: 140px;
  }

  .testimonials > div {
    padding-bottom: 150px;
  }
}

@media (min-width: 1533px) {
  header .navbar-nav {
    order: 0 !important;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1700px;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero .hero-content {
    padding: 200px 0px !important;
  }
}
